
 <h3 class="team-index-title">チーム一覧</h3>

<div class="container-fluid">
  <div class ="col-md-3">
    <%= render "users/sidebar", user: current_user %>
  </div>


    <% @teams.each do |team| %>
      <div class ="col-md-2 box-content">
        <div class="team-image-box">
          <%= link_to team do %>
            <%= attachment_image_tag(team, :team_image, format: 'jpeg', size:'255x200', fallback: "/assets/no_image_team.jpg") %>
          <% end %>
        </div>
        <div class="team-text-box">
          <div class="team-text">
            <span class="team-title">チーム名</span><br>
            <%= team.name %>
          </div>
          <div class="team-text">
            <span class="team-title">エリア</span><br>
            <%= team.place %>
          </div class="team-text">
          <div>
            <span class="team-title">チーム説明</span><br>
            <!-- truncateは文字量を丸めるヘルパー -->
          <%= truncate(team.introduction, length: 10) %>
          </div class="team-text">
          <div class="iine">
            <!-- favoriteコントローラーにはチームの記述がないので、クラスの中でチームidを指定する。 -->
            <div class=<%="team_#{team.id}"%>>
              <%= render "favorites/like", team: team %>
            </div>
          </div>
        </div>

      </div>
  <% end %>
</div>