
<%= render "users/sidebar", user: current_user %>
<div class="container">
  <div class="row">

      <% @teams.each do |team| %>
        <div class ="col-xs-3 box-content">
          <div>
            <%= link_to team, class: "team_#{team.id}" do %>
              <%= attachment_image_tag(team, :team_image, format: 'jpeg', size:'255x200', fallback: "/assets/no_image_team.jpg") %>
            <% end %>
          </div>
          <div>
            <%= team.name %>
          </div>
          <div>
            <%= team.place %>
          </div>
          <div>
            <!-- truncateは文字量を丸めるヘルパー -->
          <%= truncate(team.introduction, length: 10) %>
          </div>
            <% if team.favorited_by?(current_user) %>
              <%= link_to team_favorites_path(team, redirect_id: 0), method: :delete do %>
              <%#= fa_icon "heart", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart"><%= team.favorites.count%></span>
            <% end %>
          <% else %>
              <%= link_to team_favorites_path(team, redirect_id: 0), method: :post do %>
              <%#= fa_icon "heart-o", text: "#{book.favorites.count}", style: "color: red;" %>
              <span class="glyphicon glyphicon-heart-empty"><%= team.favorites.count %></span>
            <% end %>
          <% end %>


        </div>
    <% end %>
  </div>
</div>