<%= render "users/sidebar", user: current_user %>
	<div class="team-show-header">
		<span class="team-show-header-text"><%= @team.name %></span>
      <% if @team.owner_user == current_user %>
		 	  <%= link_to '編集する', edit_team_path(@team), class: "btn-sm btn-success edit_book_#{@team.id}" %>
		    <%= link_to '削除する', team_path(@team), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_team_#{@team.id}"%>
      <% end %>
	</div>

	<div class="container team-container">

    <div class="team-show-row">

	  	<div class="col-md-6">
				<%= attachment_image_tag(@team, :team_image, fallback: "/assets/no_image_team.jpg", size:'500x330') %><br>
				<div class="team-show-tag">
					<% @team.tag_list.each do |tag| %>
	          <span class="label label-primary"><%= tag %></span>
	        <% end %>
	      </div>
	    </div>

	    <div class="col-md-4">
				<p class="team-show-member">メンバー</p>
				<%= @team.owner_user.name %>

					<% if current_user != @team.owner_user %>
			   		<div class=<%="belong_#{@team.id}"%>>
              <%= render "belongs/belong", team: @team, belong: @belong %>
            </div>
          <% end %>






      		<% if @team.is_status == true %>
      		　	募集ステータス
				  	募集中
      		<% else %>
      			募集ステータス
				  	募集停止中
      		<% end %>

   		      <div class=<%="team_#{@team.id}"%>>
              <%= render "favorites/like", team: @team %>
            </div>

チーム説明
			<%= @team.introduction %>
			</div>
		</div>



		<p class="comment-list">コメント一覧 全<%= @team.post_comments.count %>件</p>

      <div class=<%="comment_#{@team.id}"%>>
        <%= render "post_comments/post_comment", team: @team, post_comment: @post_comment %>
      </div>


	</div>




