<div class="container sign-up-container">
  <h2>ユーザー登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="sign-up-row">

          <div class="sign-field">
            <div class="col-md-3"></div> <!-- 空div -->
            <div class="col-md-2">
              <%= f.label :name, "名前" %><br />
            </div>
            <div class="col-md-7">
              <%= f.text_field :name, autofocus: true, placeholder: "山本太郎", autocomplete: "name", class: 'form-control', required: true %>
            </div>
          </div>

          <div class="sign-field">
            <div class="col-md-3"></div> <!-- 空div -->
            <div class="col-md-2">
              <%= f.label :place, "エリア" %><br />
            </div>
            <div class="col-md-7">
              <%= f.select :place, User.places.keys.to_a, {} %>
            </div>
          </div>

          <div class="sign-field">
            <div class="col-md-3"></div><!-- 空div -->
            <div class="col-md-2">
              <%= f.label :email, "メールアドレス" %><br />
            </div>
            <div class="col-md-7">
              <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", autocomplete: "email", class: 'form-control', required: true %>
            </div>
          </div>

          <div class="sign-field">
            <div class="col-md-3"></div><!-- 空div -->
            <div class="col-md-2">
              <%= f.label :password, "パスワード" %>
            </div>
            <div class="col-md-7">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password", class: 'form-control', required: true %>
            </div>
          </div>

          <div class="sign-field">
            <div class="col-md-3"></div><!-- 空div -->
            <div class="col-md-2">
              <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
            </div>
            <div class="col-md-7">
              <%= f.password_field :password_confirmation, placeholder: "パスワード(確認用)", autocomplete: "new-password", class: 'form-control', required: true %>
            </div>
          </div>

          <div class="actions">
            <div class="col-md-4"></div><!-- 空div -->
            <div class="col-md-8">
            <%= f.submit "ユーザー登録", class: "btn btn-success", style: "padding: 5px 80px 5px;" %>
            </div>
          </div>
        </div>
    <% end %>

          <div class="actions">
            <div class="col-md-4"></div><!-- 空div -->
            <div class="col-md-8">
            
            <%= link_to user_github_omniauth_authorize_path do %>
            <button type="button" style='width: 245px;', class="btn btn-primary"><i class="fab fa-github"></i>   githubでユーザー登録</button>
            <% end %>
            </div>
          </div>
          <div class="col-md-5"></div><!-- 空div -->
            <%= link_to "ログイン", new_session_path(resource_name) %>

</div>







