		<div class="team-show-row comment-text">
	    <div class="col-md-4 ">
		    <% team.post_comments.each do |post_comment| %>
	          <div class="comment-text">
	              <div class="comment-author clearfix">
	                  <a href="#" class="link-author"><%= post_comment.user.name %></a>
	                  <span class="comment-meta">
	                  <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
	                  </span>
	              </div>
	              <div class="comment-entry"><%= post_comment.comment %></div>
	                <% if post_comment.user == current_user %>
	                 <%= link_to 'Destroy', team_post_comment_path(team,post_comment), class: 'btn-sm btn-danger', method: :delete, remote: true %>
	               <% end %>
	          </div>
		    <% end %>
		  </div>
		</div>

        <div class="col-md-12">
		  <%= form_for [team, post_comment], remote: true do |f| %>
		    <div class="comment-area">
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
        <div class="comment-submit">
    		  <%= f.submit "コメントを投稿する", class: "btn btn-success", style: "padding: 5px 80px 5px;" %>
    		</div>
		  <% end %>
		</div>