<div class="topimage">
	<div id="theTarget">
		<div class="top1"><%= render "toptext" %></div>
		<div class="top2"><%= render "toptext" %></div>
		<div class="top3"><%= render "toptext" %></div>
	</div>

</div>

<div class="container">

	<div class="row-top">
  	  <div class="col-sm-4 text-center">
		<i class="fas fa-user-friends fa-4x"></i>
		<h3>メンバーを募集</h3>
		<p>自分でチームを作成して、メンバーを募集出来ます。</br>クラスで話してた仲間たちを誘ってみましょう。</p>
	  </div>
	  <div class="col-sm-4 text-center">
	  	<i class="far fa-handshake fa-4x"></i>
	  	<h3>チームを結成</h3>
	  	<p>スクールで一緒だった仲間とチームが組めます。</br>プログラミング学習で悩んでいる事など相談してみましょう。</p>
	  </div>
	  <div class="col-sm-4 text-center">
		<i class="fas fa-laptop-code fa-4x"></i>
		<h3>チームで開発</h3>
		<p>チームで助け合いプログラミング学習を継続し、</br>面白いサービスを作ってみましょう。</p>
	  </div>
  </div>

	<h2 class="text-center about">About</h2>

  <div class="row-top">
  	<div class="col-sm-2"></div>
  	  <div class="col-sm-8 text-center">
    	<p>connectは、プログラミングスクール卒業生が継続して学習を続けるためのコミュニティサイトです。</br>
    	スクール在籍中には、メンターに質問すれば解決するためのヒントや回答が返ってきました。</br>しかし、卒業してしまえば自分一人の力で学習を続けるしかありません。エンジニアになるためには、新しい技術を学び続けることが姿勢が大切だと分かっていても、とても不安だと思います。</br>connectは、そのような継続学習の不安な人や学習意欲のある人を応援するコミュニティを作れます。</br>プログラミング学習に挫折しないため、スクール卒業生でプログラミングコミュニティを作ってみましょう。</p>
	  <div class="col-sm-2"></div>
    </div>
  </div>

  <h2 class="text-center about">Flow</h2>
  <div class="row-top">
  	<div class="col-sm-3 text-center">
			<i class="fas fa-user-plus fa-4x"></i>
			<h3>Sign up</h3>
			<p>新規登録しよう！</p>
	  </div>
	  <div class="col-sm-3 text-center">
	  	<i class="fas fa-sign-in-alt fa-4x"></i>
	  	<h3>Join</h3>
	  	<p>チームに参加してみよう!</p>
	  </div>
	  <div class="col-sm-3 text-center">
			<i class="fas fa-layer-group fa-4x"></i>
			<h3>develop</h3>
			<p>チームで開発しよう！</p>
		</div>
		<div class="col-sm-3 text-center">
			<i class="fas fa-share-alt fa-4x"></i>
			<h3>Output</h3>
			<p>開発した成果をアウトプットしよう！</p>
		</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="contact-top">
      	<div class="contact-top-header">
		  <h2>お問い合わせ</h2>
		</div>
			<%= form_for @contact, url: contacts_path do |f| %>
				<%= f.label :email, "メールアドレス" %><br>
				<%= f.text_field :email, placeholder: 'メールアドレス', size: "50x5" %><br>
				<%= f.label :message, "お問い合わせ内容" %><br>
				<%= f.text_area :message, placeholder: 'お問い合わせ内容をご記入ください', size: "80x20" %><br>
				<%= f.submit '送信する', class: "btn btn-default" %>
			<% end %>
	  </div>
	</div>
  </div>
</div>


