<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h1>

      <div class="line-bc">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
              <div class="mycomment">
                <p style="text-align: right;">
                  <%= chat.created_at.strftime('%m/%d') %>
                  <%= chat.message %>
                </p>
              </div>
          <% else %>
            <div class="other">
              <div class="icon">
                <p style="text-align: left;">
                  <%= attachment_image_tag chat.user, :profile_image, format: 'jpg', size: "25x25", fallback: "no_image.jpg", class: "img-circle" %>
                </p>
              </div>
              <div class="chatting">
                <div class="talk">
                  <p>
                    <%= chat.created_at.strftime('%m/%d') %>
                    <%= chat.message %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="chat-form">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <%= f.submit '送信' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
