<!DOCTYPE html>
<html>
  <head>
    <title>Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class='nav navbar-nav navbar-left' >
        <% unless user_signed_in? %>
          <span><%= link_to 'connect', root_path %></span>
        <% else %>
          <span><%= link_to 'connect', home_path %></span>
        <% end %>
      </nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "チームを作る", new_team_path %></li>
          <li><%= link_to "メンバー", users_path %></li>
          <li><%= link_to "チーム", home_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "アバウト", new_team_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", user_session_path %></li>
        <% end %>
      </ul>






    </header>
    <% if notice %>
     <p class="alert alert-notice"><%= notice %></p>
   <% end %>
   <% if alert %>
     <p class="alert alert-error"><%= alert %></p>
   <% end %>

    <%= yield %>
  </body>
    <footer>
    <p><span class="footer-right">©2020 connect</span></p>
  </footer>
</html>
